<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArcBlockTimeline.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B2CB62E2691F4E4005E0C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B2CB6442691F4E6005E0C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B2CB64F2691F4E6005E0C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
